.enter {
  transform: translateY(32px);
  opacity: 0.75;
  scale: 0.65;
  animation: enter 150ms ease-out forwards;
}

@keyframes enter {
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}
