.enter {
  transform: translateY(100%);
  opacity: 0;
  animation: enter-mobile 300ms cubic-bezier(0.34, 1.3, 0.64, 1) forwards;
}

@keyframes enter-mobile {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 640px) {
  .enter {
    transform: translateY(100%);
    scale: 0.95;
    filter: blur(5px);
    animation: enter-desktop 700ms cubic-bezier(0.34, 1.3, 0.64, 1) forwards;
  }

  @keyframes enter-desktop {
    to {
      opacity: 1;
      scale: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
}

.overlay {
  opacity: 0;
  animation: overlay-enter 200ms ease-out forwards;
}

@keyframes overlay-enter {
  to {
    opacity: 1;
  }
}
