@import 'tailwindcss';

@font-face {
  font-family: 'sans';
  src: url('/fonts/RedHatText-VariableFont_wght.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sans';
  src: url('/fonts/RedHatText-Italic-VariableFont_wght.ttf');
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: 'sans', ui-sans-serif;
  --font-serif: 'SuisseWorks';

  --color-red: #c73b0f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;
}

@layer base {
  body {
    @apply bg-rose-50;
  }

  .border {
    @apply border border-neutral-500/30;
  }

  .btn {
    @apply px-2 py-2 gap-2 inline-flex items-center justify-center rounded-lg hover:bg-gray-200/50 transition cursor-pointer text-xs hover:scale-[1.01] active:scale-[0.98];
  }

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed hover:scale-100 active:scale-100;
  }

  .btn-secondary {
    @apply bg-white/90 hover:bg-white/80 shadow-xs;
  }

  .btn-primary {
    @apply bg-black hover:bg-black/80 text-white shadow-sm;
  }

  .btn-large {
    @apply px-3 py-3 text-xs;
  }

  .text-preset-1 {
    @apply text-[56px] leading-[120%] tracking-[0px] font-bold;
  }

  .text-preset-2 {
    @apply text-[24px] leading-[125%] tracking-[0px] font-bold;
  }

  .text-preset-3 {
    @apply text-base leading-[150%] tracking-[0px] font-semibold;
  }

  .text-preset-4 {
    @apply text-sm leading-[150%] tracking-[0px] font-normal;
  }
}
